<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./list.css">
</head>
<body>

    <ul class="horizontal-list">
        <li class="horizontal-list-item">
            <a 
            style="text-decoration:none"
            href="./2-table.html">Table</a>
            </li>
        <li class="horizontal-list-item">Orange</li>
        <li class="horizontal-list-item">Mango</li>
        <li class="horizontal-list-item">Banana</li>
        <li class="horizontal-list-item">Lemon</li>
        <li class="horizontal-list-item">Lime</li>
    </ul>
    
    <ul class="vertical-list">
        <li class="vertical-list-item">Apple</li>
        <li class="vertical-list-item">Orange</li>
        <li class="vertical-list-item">
            <a
            style="text-decoration: none;"
            href="./1-button.html">Button</a>
        </li>
        <li class="vertical-list-item">Mango</li>
        <li class="vertical-list-item">Banana</li>
        <li class="vertical-list-item">Lemon</li>
        <li class="vertical-list-item">Lime</li>
    </ul>

    <div class="card">
        <img 
        class="card-img"
        src="../image/images.png" alt="">

        <h3 class="card-title">Sneaker Brands</h3>
        <p class="card-text mt-none">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis saepe similique voluptatem accusantium numquam praesentium dolorum blanditiis, inventore quae quod culpa expedita, eos nobis veniam at tempore repellendus ex molestias.
        </p>

    </div>
    
</body>
</html>