<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./card.css" />
  </head>
  <body>
    <div
    class="">
      <div class="card text-start">
        <h3 class="card-title">Min Ga Lar Par</h3>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
          labore?
        </p>
      </div>
  
      <div class="card text-center">
          <h3 class="card-title">Min Ga Lar Par</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
            labore?
          </p>
        </div>
  
        <div class="card text-end">
          <h3 class="card-title">Min Ga Lar Par</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
            labore?
          </p>
        </div>
        <div class="card text-start rounded">
          <h3 class="card-title">Min Ga Lar Par</h3>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
            labore?
          </p>
        </div>
  
        <div class="card text-center rounded">
            <h3 class="card-title">Min Ga Lar Par</h3>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
              labore?
            </p>
          </div>
  
          <div class="card text-end rounded">
            <h3 class="card-title">Min Ga Lar Par</h3>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
              labore?
            </p>
          </div>
  
          <div class="card text-start">
              <img 
              class="card-img" 
              src="../image/download 2.jfif" alt="">
              <h3 class="card-title">Min Ga Lar Par</h3>
              <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
                labore?
              </p>
            </div>
  
            <div class="card text-start rounded">
              <img 
              class="card-img rounded" 
              src="../image/download.jfif" alt="">
              <h3 class="card-title">Min Ga Lar Par</h3>
              <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
                labore?
              </p>
            </div>
  
            <div class="card text-start rounded p-none">
              <img 
              class="card-img m-none" 
              src="../image/download.jfif" alt="">
              <div class="card-body">
                  <h3 class="card-title">Min Ga Lar Par</h3>
                  <p class="card-text">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
                      labore?
                    </p>
              </div>
            </div>
  
            <div class="card text-start mt-200">
              <img 
              class="card-img img-square img-float rounded" 
              src="../image/images 3.jfif" alt="">
              <div class="card-body">
                  <h3 class="card-title">Min Ga Lar Par</h3>
                  <p class="card-text">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
                      labore?
                    </p>
              </div>
            </div>
  
  
  
            <div class="card text-center mt-200">
              <img 
              class="card-img m-none img-float sh-none"
              src="../image/images.png" alt="">
  
              <h3 class="card-title">Best Nike Dunk</h3>
              <p class="card-text ">
                Suggest for beginner.You have so many choice to be a sneaker head.It whould be your best choice.
              </p>
            </div>
  
            <br><br><br><br><br><br><br><br><br><br>
    </div>
  </body>
</html>
